/* "Thanks to this code snippet, I can access all attributes and remove default values." */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1,h2,h3,h4{
    color: #4E4C42;
    font-weight: 900;
}

header{
    background-color: #8CA1A5;
    color: #555555;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
}

/* these are about header  */
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.title-sentence{
    padding: 1rem;
}
.bankaimage{
    width: 6rem;
}
/* header end */

/* content part is start */
.content{
    padding-top: 100px;
    display: flex;
    height: 100vh;
    background-color: #EEEEEE;
}


/* left content start */
.left-content{
    background-image: url(./assets/leftcontent_background.jpeg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 40%;
    padding-top: 4rem;
    padding-left: 2rem;
}
.left-content h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 36px;
}

/* this section is in left content */
section img{
    max-width: 2.4rem;
}
.money{
    margin-bottom: 3.5rem;
    padding-bottom: 2.5rem;
    border-bottom: solid #000;
}

section{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

section .döviz-title{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sale-purchase{
    display: flex;
    max-width:max-content;
    gap: 1rem;
    padding-right: 1rem;
}

/* left content end */

/* main content start */

.main-content{
    padding-top:2rem;
    padding-left:2rem;
    margin: 0 2rem;
    width: 80%;
    height: 100vh;
    /* display: flex; */
    

}

/* news is start */
.new{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
    padding: 2rem;
    border-bottom: 1px solid #000;
    margin: auto;
}

.new h2{
    color: #000;
}

.news img{
    width: 48%;
}

.news{
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-y: scroll;
    height: 45vh;
    border:solid #9BABB8;
    padding: 1rem;
    border-radius: 9px;
}

.new-title{
    width: fit-content;
    margin: auto;
    font-size: 44px;
    font-weight: 900px;
}

/* form is in the main content */
.form{
    display: flex;
    padding: 1rem;
    margin-right: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: auto;
}


input, select {
    width: 100%;
    padding: 8px 20px;
    margin-top: 1em;
}

button {
    background-color: #716F81;
    color: white;
    padding: 10px;
    margin-top:1em ;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

button:hover{
    background-color: white;
    color: black;
}

/* form is end */
/* main content end */

/* right content start */
.right-content{
    padding-left: 3rem;
    padding-top: 6rem;
    margin-top: 2rem;
    height: 75vh;
    border:solid #9BABB8;
    border-radius: 9px;

}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 1rem 1rem 0 0;
    border-bottom: solid #9BABB8 ;
}

.profile img{
    width: 5rem;
}

 .wallet{
    max-width: 100%;
    margin-top: 4rem;
    margin: auto;
    padding: 2rem 1rem;
    margin: 1rem 1rem 0 0;

}

.wallet-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.wallet-title img{
    width: 3rem;
}

.wallet-content{
    margin: auto;
    padding-left: 2.5rem;
}
/* right content end */


/* footer start */
footer{
    padding: 0.6rem 6rem;
    background-color: #8CA1A5;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

/* Question part is start */

.Questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Question{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 1rem;
}

.Question a{
    color: black;
    text-align: center;
    background-color: aliceblue;
    padding: 1rem 0.5rem;
    border-radius: 999px;
}

.Question a:hover{
    background-color: #555555;
    color: white;

}


.perform{
    width:fit-content;
    text-align: center;
}

.aplly{
    background-color: aliceblue;
    border-radius:12px ;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
}


.aplly img{
    width: 5rem;
    margin-bottom: 0.5rem;
}

.aplly ol li{
    margin-bottom: 1rem;
}

.contact-detail{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.contact-detail ol{
    width: 50%;
}

.contact h3{
    display: block;
    text-align: center;
}

.communicate{
    width: 10rem;
    background-color: aliceblue;
    border-radius: 12px;

}

@media only screen and (max-width: 1000px){
    .content{
        display: flex;
        flex-direction: column;
        height: 1900px;
    }

    .left-content{
        width: 100%;
        padding-top: 8rem;
    }

    .right-content{
        padding: 0;
        height: 56vh;
    }
    
    header{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
}